<h1>Privatecats#show</h1>
<%= @privatecat.name %>
<h2>ID Utlisateur autorisé</h2> <%= @privatecat.gallery_owner_id %><br />
<% if current_user.admin? %>
    <b>admin</b><%= current_user.email %>
<% end %>
