.banner-home{
    background-image: url("https://res.cloudinary.com/dfvd7rhgj/image/upload/v1632588490/k2ywj5lyuiybot18hlhl.jpg");
    width: 100vw;
    height: 46.25vw;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;

}