.card-category{

    // width: 350px;
    height:400px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:4px;
    // height:auto;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid white;

    background-color: white;
    // margin: auto;

    }
    .container {
      //background-color: rgb(26, 24, 24);
    }

